/* mail list */

.mail-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: var(--mail-mail-list-bg);
}

.mail-list-item {
	align-items: center;
	gap: 10px;
	background-color: var(--mail-mail-list-item-bg);
}

.mail-list .btn {
	border: none;
	background: none;
	cursor: pointer;
	padding: 0;
}

.mail-list .btn::before {
	font-size: 1.5rem;
}
