.note-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    min-height: 100px;
    height: auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, border 0.3s ease;
}

.note-card:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.note-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.note-card p {
    margin: 5px 0;
}

.note-card ul {
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    overflow: auto;
}

.note-card li {
    margin: 5px 0;
}

.note-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.note-input {
    width: 40%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.note-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    align-items: start;
    padding: 0 20px;
}

.pinned-container,
.regular-container {
    width: 100%;
    margin-bottom: 20px;
}

.pinned-container h3,
.regular-container h3 {
    margin-left: 10px;
    color: #5f6368;
    font-size: 16px;
}

.pinned-container h4,
.regular-container h4 {
    color: #202124;
    font-size: 15px;
}
